@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-padrao:#ff523b;
    --cor-padrao-hover:#f3b2e5;
    --cor-fonte:#fff;
    --cor-fonte-p:#555;
    --cor-btn:#563434;
    --cor-btn-hover:#15ff00;
    --cor-btn-fonte:#000;
    --cor-fonte-corpo:#555;
    --cor-fonte-corpo-leve:#777;
}

body{
    font-family: 'Poppins', sans-serif;
}

.banner{
    background: radial-gradient(var(--cor-fonte-corpo),var(--cor-btn-fonte));
}

.banner .linha{
    margin-top:70px;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color:var(--cor-fonte);
}

.banner p{
    color: var(--cor-fonte);
}

p{
    color: var(--cor-fonte-p);
}

.linha{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 0px;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin:25px 0;
    color:var(--cor-fonte);
}

.col-2 p{
    font-weight: 600;
    color:var(--cor-fonte);
}

.btn{
    text-decoration: none;
    color: var(--cor-fonte);
    background: var(--cor-fonte-corpo);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: var(--cor-fonte);
    color: var(--cor-fonte-corpo);
}

.categorias{
    margin: 70px 0;
}

.corpo-categorias{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.col-4{
    flex-basis: 25%;
    min-width: 200px;
    padding: 20px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4:hover{
    transform: scale(1.1);
}

.col-4 img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.titulo{
    position: relative;
    line-height: 60px;
    margin: 0 auto 80px;
    text-align: center;
    color: var(--cor-fonte-corpo)
}

.titulo::after{
    content: '';
    background-color: var(--cor-padrao);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%);
}

h4{
    color: var(--cor-fonte-corpo);
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.classificacao{
    color:var(--cor-btn-fonte);
}

/* ----Ofertas ----*/
.ofertas{
    background: radial-gradient(var(--cor-fonte-corpo),var(--cor-btn-fonte));
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .oferta-img{
    padding: 50px;
}

small{
    color: var(--cor-fonte);
}

/* ----Depoimentos ----*/
.depoimentos{
    padding-top: 100px;
}

.depoimentos .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.depoimentos .col-3:hover{
    transform: scale(1.1);
}

.depoimentos .col-3 img{
    width: 50px;
    border-radius: 50%;
    margin-top: 20px;
    border: 2px solid var(--cor-btn-fonte);
}

.depoimento-icone{
    color:var(--cor-btn-fonte);
    font-size: 34px;
}

.col-3 p{
    font-size: 13px;
    color: var(--cor-fonte-corpo-leve);
    margin: 12px 0;
}

.depoimentos .col-3 h3{
    font-size: 16px;
    font-weight: 600;
    color: var(--cor-fonte-corpo);
}

/* ------------ Marcas ------------*/

.marcas{
    margin: 100px auto;
}

.col-5{
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0%);
}

/* ---- RODAPÉ ----*/
.rodape{
    background: var(--cor-btn-fonte);
    color: var(--cor-fonte);
    padding: 60px 0 20px;
    font-size: 14px;
}

.rodape p{
    color:var(--cor-fonte);
}

.rodape h3{
    color: var(--cor-fonte);
    margin-bottom: 20px;
}

.rodape-col-1, .rodape-col-2, .rodape-col-3, .rodape-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.rodape-col-1{
    flex-basis: 30%;
}

.rodape-col-2{
    flex: 1;
    text-align: center;
}

.rodape-col-2 img{
    width: 180px;
    margin-bottom:20px;
}

.rodape-col-3, .rodape-col-4{
    flex-basis: 12%;
    text-align: right;
}

ul{
    list-style-type: none;
}

.app-logo1{
    margin-top: 20px;
}
.app-logo1 img{
    width: 140px;    
}

.rodape hr{
    border: none;
    height: 1px;
    background: var(--cor-fonte);
    margin: 20px 0;
}
.direitos{
    text-align: center;
}

.menu-celular{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* ---- MENU CELULAR -----*/
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: var(--cor-btn-fonte);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-right: 50px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: var(--cor-fonte);
    }

    .menu-celular{
        display: block;
        cursor: pointer;
    }
}
/* ------ CELULAR 600 ----*/
@media only screen and (max-width: 600px){
    .linha{
        text-align: center;
    }

    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    
    .col-2 h1{
        font-size: 27px;
    }

    .rodape-col-3, .rodape-col-4{
        text-align: center;
    }

    .col-4 p{
        font-size: 24px;
    }
}
    
